/.idealtest
.swp
*.iml
/*/.iml
.DS_Store
/*/.*
.idea
*.bak
target
*.class
.target
#bpm
/*/bpmclasses
*.log

# eclipse
.project
.classpath
.settings/
# mac

/application.yml
/application.properties
asciidoctor.css
*~
.#*
*#
target
bin
_site/
.classpath
.springBeans
.DS_Store
*.sw*
*.iml
.idea
.factorypath

#node资源目录
/*/node_modules/
#bower资源目录
/*/bower_modules/

#log目录
logs/

#本地properties
application-local.properties
