<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<jmxConfigurator/>

	<appender name="KafkaAppender" class="com.stardust.logclient.logback.KafkaAppender">
		<layout>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</layout>
		<manualStart>true</manualStart>
	</appender>
	<!-- 研发环境 -->
	<springProfile name="dev">
		<root level="debug">
			<appender-ref ref="FILE" />
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

	<!-- 测试环境 -->
	<springProfile name="test">
		<root level="info">
			<appender-ref ref="FILE" />
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="KafkaAppender" />
		</root>
	</springProfile>

</configuration>